{% extends 'main.twig' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <h2>{{title}}</h2>
    <hr>
    {% for order in orders %}
        <div>
            <a href="/order/show/?id={{order.order_id}}">
                {{order.order_id}}. 
                Заказ {{order.date}}
                [Пользователь <b>{% if order.login == NULL %}ПОЛЬЗОВАТЕЛЬ УДАЛЕН{% else %}{{order.login}}{% endif %}</b>]
            </a>
        </div>
    {% else %}
        Нет заказов
    {% endfor %}
{% endblock %}