{% extends 'main.twig' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <p class="msg" style="color: red">{{ msg }}</p>
    {% for id, good in goods %}
    <div>
        <h3>{{ good.name }}</h3>
        <p>Цена: {{ good.price }}</p>
        <p>Количество: {{ good.count }}</p>
        <a class="button" href="#" data-id="{{id}}" style="color: red">Удалить</a>
    </div>
    {% endfor %}
    {% if goods %}
        <hr>
        <div><a href="/basket/order">Оформить заказ</a></div>
    {% else %}
        Нет товаров
    {% endif %}
{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        buttons = document.getElementsByClassName('button');
        msg = document.getElementsByClassName('msg')[0];
        for (let button of buttons) {
            button.addEventListener("click", function(e) {
                removeAjax(button.dataset.id, msg, button);
            });
        }
    });

    function removeAjax(id, msg, button) {
                data = "";
                jQuery.ajax({
                    url: "/basket/removeAjax/?id=" + id,
                    success: function (data) {
                        msg.textContent = data[1];
                        button.parentNode.remove();
                        setTimeout(removeMsg, 1000, msg);
                    }
                });
    }

    function removeMsg(msg) {
        msg.textContent = '';
    }
</script>
{% endblock %}